.main-content {
    margin: 2rem;
}
.algo-card {
    margin-bottom: 1rem;
}
.icon-button{
    color:#333333;
}

.icon-button:hover{
    color:#666666;
}

pre {
    padding: 1rem;
    background-color: #eeeeee;
    border-radius: 1rem;
}
/* #newAlgorithmContainer {
    margin: 3rem;
} */